@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    color: #FFF8F0;
    font-family: "Bricolage Grotesque";
}

body {
    background-color:#0D1B1E;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    /* Text align is horizontal */
    text-align: center;
    /* Align items is vertical */
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    /* Text align is horizontal */
    text-align: center;
    /* Align items is vertical */
    align-items: center;
}

.logo {
    height: 80px;
    width: 80px;
    background-color: #C7EF00;
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    border-radius: 50%;
   
}

.logo p {
    color:#0D1B1E;
    font-weight: 600;
    font-size: 1rem;
}

nav a {
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color:#0D1B1E;
    font-weight:700;
    font-size: 1rem;

    
}

nav a:hover {
    color: #83781B;
    display: inline-block;
    animation: spin 3s infinite linear;
    
}


nav{
    background-color:#C7EF00;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.training_option {
    margin-top: 10dvw;
    background-color: #C7EF00;
    padding: 1rem;
    border-radius: 5%;

}

.training_option img{
    width: 75dvw;
    border-radius: 5%;
}

.training_option h3{
    color:#0D1B1E;
}

/* Desktop styling */
@media screen and (min-width:600px) {
    main{
        display:flex;
        flex-wrap:wrap;
        gap: 25px;
        justify-content: space-around;
    }

    @keyframes spin {
        0%  {-webkit-transform: rotate(0deg);}
        100% {-webkit-transform: rotate(360deg);} 
    }


    .training_option img{
        width: 25dvw;
    }

    .training_option {
        margin-top: 5dvw;
    }
}